src/force-app/main/default/flows/Send_Account_SMS_from_Chatter_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Strip_Feed_Html_Characters</name>
        <label>Strip Feed Html Characters</label>
        <locationX>633</locationX>
        <locationY>46</locationY>
        <actionName>StripFeedHtml</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputParameters>
            <name>Id</name>
            <value>
                <elementReference>Get_Chatter_Post.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_SMS_Message_to_Chatter_Content</name>
        <label>Set SMS Message to Chatter Content</label>
        <locationX>1342</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.SMS_Message_pa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMSMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Send_Outbound_SMS_pa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_the_receiver_post_it</name>
        <label>Did the receiver post it?</label>
        <locationX>1100</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Set_SMS_Message_to_Chatter_Content</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Someone else posted</defaultConnectorLabel>
        <rules>
            <name>Receiver_made_post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chatter_Post.InsertedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_User.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Receiver made post</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_parent_a_case</name>
        <label>Is parent a case?</label>
        <locationX>278</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chatter_Post.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_to_end_user</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_to_end_user</name>
        <label>Sent to end user?</label>
        <locationX>435</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>Don&#39;t Send</defaultConnectorLabel>
        <rules>
            <name>Send_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chatter_Post.Visibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AllUsers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Chatter_Post.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TextPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Strip_Feed_Html_Characters</targetReference>
            </connector>
            <label>Send Message</label>
        </rules>
    </decisions>
    <formulas>
        <name>SMSMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Update for Case &quot; &amp; {!Get_Case.CaseNumber} &amp; &quot;: &quot; &amp; {!Get_Case.LastFeedItemPlain__c}</expression>
    </formulas>
    <interviewLabel>Send Account SMS from Chatter Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Account SMS from Chatter Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>871</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>752</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chatter_Post.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chatter_Post</name>
        <label>Get Chatter Post</label>
        <locationX>151</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_parent_a_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseFeed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>983</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_the_receiver_post_it</targetReference>
        </connector>
        <filters>
            <field>AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1477</locationX>
        <locationY>45</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Chatter_Post</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
