mdapipack/unpackaged/flows/LinkAccountToUser.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>LinkAccountToUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LinkAccountToUser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindNewlyCreatedAccount</name>
        <label>FindNewlyCreatedAccount</label>
        <locationX>131</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateUserToLinkAccount</targetReference>
        </connector>
        <filters>
            <field>User__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIDFromFlow</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountIdFromPB</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUserToLinkAccount</name>
        <label>UpdateUserToLinkAccount</label>
        <locationX>334</locationX>
        <locationY>137</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIDFromFlow</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountID__c</field>
            <value>
                <elementReference>AccountIdFromPB</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FindNewlyCreatedAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIDFromFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
