rawExtracts/converted/main/default/flows/Contact_Support_Case_Create_on_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Case</name>
        <label>Open Case</label>
        <locationX>730</locationX>
        <locationY>179</locationY>
        <actionName>c:openCaseRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>DriverCaseCreation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>IssueatPickupDelivery</name>
        <choiceText>Issue at Pick-up/Delivery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue at Pick-up/Delivery</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeedEquipment</name>
        <choiceText>Need Equipment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need Equipment</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeedHelp</name>
        <choiceText>Need Help</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need Help</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnabletoWorkToday</name>
        <choiceText>Unable to Work Today</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Work Today</stringValue>
        </value>
    </choices>
    <description>Allows a driver to create a case in the community and for us to capture their location to provide better help.</description>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contact Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>DriverCaseCreation</name>
        <label>Driver_CaseCreation</label>
        <locationX>444</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>Open_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIdofUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionForCase1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Case_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DrCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>driverLat__c</field>
            <value>
                <elementReference>CaptureLocationLat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>driverLong__c</field>
            <value>
                <elementReference>CaptureLocationLong</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FindAccountIdForFlowUser</name>
        <label>FindAccountIdForFlowUser</label>
        <locationX>250</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Dr_Case_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AccountIdofUser</assignToReference>
            <field>AccountID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dr_Case_Record_Type_Id</name>
        <label>Lookup Dr Case Record Type Id</label>
        <locationX>352</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DriverCaseCreation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driver_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DrCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Contact_Driver_Support</name>
        <label>Contact Driver Support</label>
        <locationX>129</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindAccountIdForFlowUser</targetReference>
        </connector>
        <fields>
            <name>DisplayTextCaseCreatePage</name>
            <fieldText>&lt;p&gt;Tell us how we can help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Reason</name>
            <choiceReferences>NeedHelp</choiceReferences>
            <choiceReferences>IssueatPickupDelivery</choiceReferences>
            <choiceReferences>NeedEquipment</choiceReferences>
            <choiceReferences>UnabletoWorkToday</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionForCase1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaptureDriverLocation</name>
            <extensionName>c:CaptureGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>CaptureLocationLat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>CaptureLocationLong</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaptureLocationLat</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaptureLocationLong</assignToReference>
                <name>longitude</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>115</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Driver_Support</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdofUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaptureLocationLat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>CaptureLocationLong</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>ContactIdFromUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DrCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
