rawExtracts/converted/main/default/flows/Einstein_Bots_Initialize_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Set initial values on the case at the start of bot conversation.</description>
    <interviewLabel>Einstein Bots - Initialize Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Initialize Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTranscript</name>
        <label>Get Transcript</label>
        <locationX>249</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChatTranscriptId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Initialize_Case</name>
        <label>Initialize Case</label>
        <locationX>523</locationX>
        <locationY>142</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTranscript.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Bot</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTranscript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Id for the chat transcript record from the bot</description>
        <name>ChatTranscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
