rawExtracts/Flows/main/default/flows/Case_Creation_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Active_Case_Record_Types</name>
        <label>Get Active Case Record Types</label>
        <locationX>282</locationX>
        <locationY>243</locationY>
        <actionName>GetRecordTypeInfobyObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Active_Record_Type_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onlyReturnActiveRecordTypes</name>
        </inputParameters>
        <outputParameters>
            <assignToReference>cvActiveRecordTypeIDs</assignToReference>
            <name>recordTypeIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>cvCaseRecordTypeNames</assignToReference>
            <name>recordTypeNames</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OpenCaseRecord</name>
        <label>OpenCaseRecord</label>
        <locationX>1457</locationX>
        <locationY>423</locationY>
        <actionName>c:openCaseRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Add_Contact_Record_ID_to_List</name>
        <label>Add Contact Record ID to List</label>
        <locationX>636</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>cvListContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvContactLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Desc</name>
        <label>Add Desc</label>
        <locationX>244</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>cvListRecordTypeDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vRecordTypeDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Record_Type_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>B2B</name>
        <choiceText>Business-to-Business (B2B)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B2B</stringValue>
        </value>
    </choices>
    <choices>
        <name>B2C</name>
        <choiceText>Business-to-Consumer (B2C)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B2C</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerCase</name>
        <choiceText>Customer Case - Use this when creating Cases for external customers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmployeeCase</name>
        <choiceText>Employee Case - Used this when creating Cases for internal employees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EmployeeCase</stringValue>
        </value>
    </choices>
    <constants>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Record_Type</name>
        <label>Check for Record Type</label>
        <locationX>1489</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>OpenCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chat_Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>570</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Chat_Transcript</targetReference>
            </connector>
            <label>Chat Transcript</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0mw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Messaging_Session_to_Case</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Contact_Decision</name>
        <label>Create Contact?</label>
        <locationX>910</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Collect_Case_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&#39;t Create</defaultConnectorLabel>
        <rules>
            <name>Create_new_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewContactToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Create new Contact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseTypePST</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varOriginPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>vListB2BAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Case Creation Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Clone</label>
    <loops>
        <name>Add_Contact_to_List</name>
        <label>Add Contact to List</label>
        <locationX>453</locationX>
        <locationY>694</locationY>
        <assignNextValueToReference>rvContactLoop</assignNextValueToReference>
        <collectionReference>rcvContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Record_ID_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Contact_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Active_Record_Type_Loop</name>
        <label>Get Active Record Type Loop</label>
        <locationX>415</locationX>
        <locationY>220</locationY>
        <assignNextValueToReference>cvLoopRecordType</assignNextValueToReference>
        <collectionReference>cvActiveRecordTypeIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Desc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Case_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1595</locationX>
        <locationY>1001</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_for_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>varOriginPCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>vCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>499</locationX>
        <locationY>1176</locationY>
        <assignRecordIdToReference>vContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Collect_Case_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type_ID</name>
        <label>Get Case Record Type ID</label>
        <locationX>797</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Caller_Information</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedCaseRecordType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_List</name>
        <label>Get Contact List</label>
        <locationX>302</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Contact_to_List</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rcvContactList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Desc</name>
        <label>Get Desc</label>
        <locationX>579</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Desc</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvCaseRecordTypeLoop.Id</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Link_Messaging_Session_to_Case</name>
        <label>Link Messaging Session to Case</label>
        <locationX>1612</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>OpenCaseRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chat_Transcript</name>
        <label>Update Chat Transcript</label>
        <locationX>1309</locationX>
        <locationY>631</locationY>
        <connector>
            <targetReference>OpenCaseRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <screens>
        <name>Collect_Caller_Information</name>
        <label>Collect Caller Information</label>
        <locationX>582</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_List</targetReference>
        </connector>
        <fields>
            <name>scriptContact</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Before I create the case I need to collect some information. Please provide first name, last name as well as phone and email.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>nameInput</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>varFirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>varLastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varFirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varLastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Case_Information</name>
        <label>Collect Case Information</label>
        <locationX>815</locationX>
        <locationY>1276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>scriptCaseInfo</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>So what are you contacting us about today?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Subject</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <fieldText>Case Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>qcfscCaseType</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>vRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Case Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vCaseType</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>varOriginPCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <extensionName>c:CaptureGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>eLat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>eLong</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>eLat</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>eLong</assignToReference>
                <name>longitude</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Case_Type</name>
        <label>Select Case Type</label>
        <locationX>728</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Record_Type_ID</targetReference>
        </connector>
        <fields>
            <name>scriptCaseType</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Let&#39;s create a Case to track this. Is this for an employee or a customer?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>qcfscCaseRecordType</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Visual Text Box</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>cvCaseRecordTypeNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>cvListRecordTypeDescriptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSelectedCaseRecordType</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contact_Record</name>
        <label>Select Contact Record</label>
        <locationX>615</locationX>
        <locationY>862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact_Decision</targetReference>
        </connector>
        <fields>
            <name>selectContactScript</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Thanks, let&#39;s see if we have you in the system already.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactListDataGrid</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>cvListContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>FirstName,LastName,Phone,Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstSelectedId</name>
                <value>
                    <elementReference>vSelectedContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRecords</name>
                <value>
                    <numberValue>-1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContactId</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NewContactToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Create New Contact?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>NewContactToggle.value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>varFirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>varLastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varFirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varLastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewContactToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPhone</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewContactToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmail</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewContactToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>131</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>Get_Active_Case_Record_Types</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cvActiveRecordTypeIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvCaseRecordTypeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvListContacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvListPersonAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvListRecordTypeDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvLoopRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eLat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>eLong</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>rcPersonAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rcvContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvCaseRecordTypeLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>rvContactLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvPersonAccountLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewCustomerBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedPersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
