rawExtracts/Flows/main/default/flows/Contact_Support_Case_Create_on_Community.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Case</name>
        <label>Open Case</label>
        <locationX>1133</locationX>
        <locationY>171</locationY>
        <actionName>c:openCaseRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>DriverCaseCreation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Set_SMS_Message_Fields</name>
        <label>Set SMS Message Fields</label>
        <locationX>752</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.SMS_Message_pa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We’ve opened a case for you; you may reply to this message for further assistance.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Send_Outbound_SMS_pa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_Account_Record_Send_SMS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NeedEquipment</name>
        <choiceText>Need Equipment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need Equipment</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeedHelp</name>
        <choiceText>Need Help</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Need Help</stringValue>
        </value>
    </choices>
    <choices>
        <name>ShipmentIssue</name>
        <choiceText>Shipment Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipment Issue</stringValue>
        </value>
    </choices>
    <description>Allows a driver to create a case in the community and for us to capture their location to provide better help.</description>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contact Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>DriverCaseCreation</name>
        <label>Driver_CaseCreation</label>
        <locationX>481</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIdofUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionForCase1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Case_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DrCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>driverLat__c</field>
            <value>
                <elementReference>CaptureLocationLat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>driverLong__c</field>
            <value>
                <elementReference>CaptureLocationLong</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindAccountIdForFlowUser</name>
        <label>FindAccountIdForFlowUser</label>
        <locationX>250</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Dr_Case_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AccountIdofUser</assignToReference>
            <field>AccountID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>607</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SMS_Message_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIdofUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grabs Queue Id from custom metadata type.</description>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>479</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DriverCaseCreation</targetReference>
        </connector>
        <object>Driver_Care_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Driver_Case_Queue_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dr_Case_Record_Type_Id</name>
        <label>Lookup Dr Case Record Type Id</label>
        <locationX>352</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <object>Driver_Care_Settings__mdt</object>
        <outputAssignments>
            <assignToReference>DrCaseRecordTypeId</assignToReference>
            <field>Driver_Case_Record_Type_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Write_Account_Record_Send_SMS</name>
        <label>Write Account Record - Send SMS</label>
        <locationX>916</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>Open_Case</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Contact_Driver_Support</name>
        <label>Contact Driver Support</label>
        <locationX>129</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FindAccountIdForFlowUser</targetReference>
        </connector>
        <fields>
            <name>DisplayTextCaseCreatePage</name>
            <fieldText>&lt;p&gt;Tell us how we can help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Reason</name>
            <choiceReferences>NeedHelp</choiceReferences>
            <choiceReferences>ShipmentIssue</choiceReferences>
            <choiceReferences>NeedEquipment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionForCase1</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CaptureDriverLocation</name>
            <extensionName>c:CaptureGeolocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>CaptureLocationLat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>CaptureLocationLong</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaptureLocationLat</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaptureLocationLong</assignToReference>
                <name>longitude</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>115</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Driver_Support</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdofUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaptureLocationLat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>CaptureLocationLong</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>ContactIdFromUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DrCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of Queue that will own Cases.</description>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
